/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/*  */


@font-face {
    font-family: 'CustomFont';
    src: url('./font/Norse-Bold.otf') format('opentype');
}

button {
    background-color: #596D48;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    display: block;
}

p{
    font-size: 24px;
    font-weight: bold;
}

#container{
    height: 100vh;
    display: flex;
}

.right-side{
    background-color: #E5E7EB;
    flex: 1;
    position: relative;
    display: inline-block;
}

.image{
    display: block;
    width: 100%;
    height: 100vh;
}

.left-side{
    flex: 2;
}
.padding{
    padding: 12% 30% 0% 5%;
}

.bgtext{
    background-color: rgb(0, 0, 0 , 0.5);
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 200px;
}

.logo{
    align-self: center;
    width: 100px;
    height: 100px
}

.CustomFont {
    font-family: 'CustomFont', monospace ;
    font-size: 100px;
    color: white;
}

input{
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 300px;
    height: 30px;
}

label{
    display: block;
}

input:required{
    border-color:red;
}
form{
    border: 1px solid red;
    background-color: white;
    padding: 3% 30% 3% 5%;
}

.upside-padding{
    padding-top: 3%;
}

.form-divs{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#log{
    display: block;
    margin-top: 2%;
}